<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Staycation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MavHotel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style= "margin-left: 100px" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-primary">Stay</span>cation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Browse" asp-action="Browse">Browse by</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stories" asp-action="Stories">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agents" asp-action="Agents">Agents</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

  
    <footer class="border-top footer text-muted">
       
          @*  <div class="hedge-1">
                <a id="logo" asp-area="" asp-controller="Home" asp-action="Index"><span>Stay</span>cation.</a>
                <p>
                    We kaboom your beauty holiday
                    instantly and memorable.
                </p>
            </div>

            <div class="hedge-2">
                <p>For Beginners</p>
                <p>New Account</p>
                <p>Start Booking a Room</p>
                <p>Use Payments</p>
            </div>

            <div class="hedge-3">
                <p>Explore Us</p>
                <p>Our Careers</p>
                <p>Privacy</p>
                <p>Terms & Conditions</p>
            </div>

            <div class="hedge-4">
                <p>Connect Us</p>
                <p>support@staycation.id</p>
                <p>021 - 2208 - 1996</p>
                <p>Staycation, Kemang, Jakarta</p>
            </div>*@
        

      <p> &copy; Copyright @DateTime.Today.Year • All rights reserved • Staycation </p>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
