<div class="background">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong text-white" style="border-radius: 1rem; background-color: transparent; opacity: 1; border: 2px solid transparent;">
                    <div class="card-body p-5 text-center">
                        <!-- Form content goes here -->
                        <h3 class="mb-5" style="color: white; opacity: 1;">Sign Up</h3>

                        <div class="form-outline mb-4">
                            <input type="name" style="background: transparent; border: transparent; border-bottom: 2px solid white; color: white; pointer-events: auto; opacity: 1;" id="typeEmailX-2" class="form-control form-control-lg transparent-input" placeholder="Full Name" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="email" style="background: transparent; border: transparent; border-bottom: 2px solid white; color: white; pointer-events: auto; opacity: 1" id="typeEmailX-2" class="form-control form-control-lg transparent-input" placeholder="Email" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" style="background: transparent; border: transparent; border-bottom: 2px solid white; color: white; pointer-events: auto; opacity: 1" id="typePasswordX-2" class="form-control form-control-lg transparent-input" placeholder="Password" />
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>

                        <hr class="my-4">

                        <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
